#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: lightskyblue;
    font-size: 22px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    margin:0;
    color: white;
}
header{
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
.msg{
    background-color: White;
    line-height: 1.5em;
    padding: 35px;
}
.button-box, .button-box-main{
    background-color: rgba(183, 122, 72, 0.699);
    width: 100px;
    margin:0 auto;
    text-align: center;
    justify-content: center;
}
.button-box:hover, .button-box-main:hover{
    background-color: aqua;
    color: black;
}
.home-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}
.logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.space{
    background-color: lightslategray;
    margin: 0 auto;
    text-align: center;
}
#hero{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    text-align: center;

}
#hero-box img{
    width:100%;
}
.hero-msg{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: white;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 6fr 2fr 2fr 1fr 6fr 1fr 1fr 2fr;
}

.home-grid img{
    width: 100%;
}
#raft, #camping, #hiking{ 
    border: 5px solid rgb(169, 98, 53);
    margin: 0 auto;
    width: 100%
}
#raft{
    width: 10em;
}
#raft:hover{
    width:11em;
}
#raft_logo{
    width: 2em;
}
.first-image{
    grid-column: 2/3;
    grid-row: 2;
    text-align: center;
}
#camping{
    width: 9em;
}
#camping:hover{
    width: 10em;
}
#camping_logo{
    width: 2em;
}
.second-image{
    grid-column: 5/6;
    grid-row: 2;
    text-align: center;
    
}
#hiking{
    width: 10em;
}
#hiking:hover{
    width:11em;
}
#hiking_logo{
    width:2.5em;
}
.third-image{
    grid-column: 8/9;
    grid-row: 2;
    text-align: center;
}
.space{
    grid-column: 6/9;
    grid-row: 6;

}
.big_image{
    grid-column: 1/-1;  
    grid-row: 4/9;
    z-index: -1;
}
.pics{
    width: 100%;
}
.card-image{
    border: 10px solid #d9c2a3;
}
.book, .join {
    border-radius: 5px;
    background-color: #60441f;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
#links{
    text-align: center;
    color: darksalmon;
    text-decoration: none;
    font-size: .5em;
}
.main_box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 5px;
    background-color: white;
}
.price_one{
    background: rgb(236, 178, 116);
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price_one_extra{
    grid-column: 2/3;
    grid-row: 1/2;
    background: rgb(169, 98, 53);
    text-align: center;
}
.price_two{
    background: rgb(236, 178, 116);
    grid-column:1/2;
    grid-row: 2/3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price_two_extra{
    background: rgb(169, 98, 53);
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.price_three{
    background:rgb(236, 178, 116);
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price_three_extra{
    background: rgb(169, 98, 53);
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}
.scene_image{
    grid-row: 1/2;
    grid-column: 3/4;
}
.side_section{
    grid-row: 2/4;
    grid-column: 3/4;
    background-color: rgb(236, 178, 116);
}
#tree{
    width: 100%;
    height: 100%;

}
footer{
    background-color: lightyellow;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1em;
}
#links:hover{
    color: grey;
}
