header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(54, 54, 54);
    margin: fill;
    height: 200px;
    width: 100%;
}
main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    z-index: -1;
}
#main_img{
grid-column: 1/4;
grid-row: 1/2;
}
#app, #Comment_section{
    grid-column: 2/3;
    grid-row: 3/4;
    z-index: 1;
}
#Comment_section{
    margin: 0 auto; 
}
#app{
    margin-top: 10px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:rgb(54, 54, 54);
    height: 100px;
}
#Home{
    grid-column: 1/2;
    font:bold;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 50px;
}
#Home:hover{
    background-color: #bdb76b;
    color: black;
}
#Top{
    grid-column: 2/3;
    font:bold;
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 50px;
}
#Top:hover{
    background-color: #bdb76b;
    color: black;
}
#New{
    grid-column: 3/4;
    font:bold;
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 50px;
}
#New:hover{
    background-color: #bdb76b;
    color: black;
}
#Logo_child_box{
    grid-column: 4/5;
    text-align: center;
    justify-content:center;
    margin: auto;
    height: 100px;
    width: 100px;
}
#Logo_child{
    border-radius:50%;
    height: 120px;
    width: 120px;
    justify-content: center;
    margin: auto;
    text-align: center;
}
#main_child_1{
    display:grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: black;
}
#Overwatch_p{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 100px;
    margin-right: 10px;
    font-size: larger;
    color: white;
}
#Overwatch{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}
#Minecraft_para{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 100px;
    margin-right: 10px;
    font-size: larger;
    color: white;
}
#Minecraft{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}
#Elden_ring_p{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 100px;
    margin-right: 10px;
    font-size: larger;
    color: white;
}
#Elden_ring{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
#Friends_box{
    grid-column: 3/4;
    grid-row: 1/4;
    margin-left: 5px;
}
#Friends{
    object-fit: fill;
    /* height: 100%; */
    /* width: 100%; */
    max-width: 900px;
    overflow: hidden;
}
.container_comment {
	max-width: 640px;
	margin: 30px auto;
	background: rgb(54, 54, 54);
	border-radius: 8px;
	padding: 20px;
    margin-bottom: 10px;
}
button.primaryContained:hover {
	background: #9201A8;
}
p{
    color:black;
}
#main_child_2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    background: black;
    width: 100%;
}
#Section_left{
    color: white;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-column: 2/3;
    grid-row: 2/3;;
    width: 100%;
    z-index: 1;
}
#BG{
    background-color: #3d348b;
    z-index: 0;
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: 40px;
    margin-bottom: 80px;
}
#new_header{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}
#Vrising_img{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}
#Vrising{
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid rgba(0, 255, 30, 0.833);
}
#Lego_img{
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}
#Lego{
    grid-column: 2/3;
    grid-row: 5/6;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid rgba(0, 255, 30, 0.833);
}
#Tiny_img{
    grid-column: 2/3;
    grid-row: 6/7;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}
#Tiny{
    grid-column: 2/3;
    grid-row: 7/8;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid rgba(0, 255, 30, 0.833);
}
p{
   color: white;
}
h1{
    justify-content: center;
    align-items: center;
    margin: auto;
}